In [1]:
from sklearn.datasets import load_iris

data = load_iris()

In [2]:
# import hierarchical clustering libraries
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
Univ = pd.read_csv(r"C:\Users\Slmss\Documents\GitHub\DataSet\Universities.csv")

In [4]:
Univ

            Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown  1310     89      22       13     22704        94
1        CalTech  1415    100      25        6     63575        81
2            CMU  1260     62      59        9     25026        72
3       Columbia  1310     76      24       12     31510        88
4        Cornell  1280     83      33       13     21864        90
5      Dartmouth  1340     89      23       10     32162        95
6           Duke  1315     90      30       12     31585        95
7     Georgetown  1255     74      24       12     20126        92
8        Harvard  1400     91      14       11     39525        97
9   JohnsHopkins  1305     75      44        7     58691        87
10           MIT  1380     94      30       10     34870        91
11  Northwestern  1260     85      39       11     28052        89
12     NotreDame  1255     81      42       13     15122        94
13     PennState  1081     38      54       18     10185        80
14     Princeton  1375     91      14        8     30220        95
15        Purdue  1005     28      90       19      9066        69
16      Stanford  1360     90      20       12     36450        93
17      TexasA&M  1075     49      67       25      8704        67
18    UCBerkeley  1240     95      40       17     15140        78
19      UChicago  1290     75      50       13     38380        87
20     UMichigan  1180     65      68       16     15470        85
21         UPenn  1285     80      36       11     27553        90
22           UVA  1225     77      44       14     13349        92
23    UWisconsin  1085     40      69       15     11857        71
24          Yale  1375     95      19       11     43514        96

In [22]:
# Normalization function 
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [6]:
# Normalized data frame (considering the numerical part of data)
df_norm = norm_func(Univ.iloc[:,1:])

In [7]:
df_norm

         SAT     Top10    Accept   SFRatio  Expenses  GradRate
0   0.743902  0.847222  0.105263  0.368421  0.255144  0.900000
1   1.000000  1.000000  0.144737  0.000000  1.000000  0.466667
2   0.621951  0.472222  0.592105  0.157895  0.297461  0.166667
3   0.743902  0.666667  0.131579  0.315789  0.415629  0.700000
4   0.670732  0.763889  0.250000  0.368421  0.239835  0.766667
5   0.817073  0.847222  0.118421  0.210526  0.427512  0.933333
6   0.756098  0.861111  0.210526  0.315789  0.416996  0.933333
7   0.609756  0.638889  0.131579  0.315789  0.208161  0.833333
8   0.963415  0.875000  0.000000  0.263158  0.561699  1.000000
9   0.731707  0.652778  0.394737  0.052632  0.910991  0.666667
10  0.914634  0.916667  0.210526  0.210526  0.476864  0.800000
11  0.621951  0.791667  0.328947  0.263158  0.352609  0.733333
12  0.609756  0.736111  0.368421  0.368421  0.116965  0.900000
13  0.185366  0.138889  0.526316  0.631579  0.026991  0.433333
14  0.902439  0.875000  0.000000  0.105263  0.392120  0.933333
15  0.000000  0.000000  1.000000  0.684211  0.006597  0.066667
16  0.865854  0.861111  0.078947  0.315789  0.505659  0.866667
17  0.170732  0.291667  0.697368  1.000000  0.000000  0.000000
18  0.573171  0.930556  0.342105  0.578947  0.117293  0.366667
19  0.695122  0.652778  0.473684  0.368421  0.540832  0.666667
20  0.426829  0.513889  0.710526  0.526316  0.123307  0.600000
21  0.682927  0.722222  0.289474  0.263158  0.343515  0.766667
22  0.536585  0.680556  0.394737  0.421053  0.084653  0.833333
23  0.195122  0.166667  0.723684  0.473684  0.057462  0.133333
24  0.902439  0.930556  0.065789  0.263158  0.634397  0.966667

In [14]:
# create dendrogram
dendrogram = sch.dendrogram(sch.linkage(df_norm, method='centroid'),labels=Univ['Univ'].values)

TypeError: dendrogram() missing 1 required positional argument: 'Z'

In [10]:
# create clusters
hc = AgglomerativeClustering(n_clusters=4, affinity = 'euclidean', linkage = 'single')

In [11]:
# save clusters for chart
y_hc = hc.fit_predict(df_norm)
Clusters=pd.DataFrame(y_hc,columns=['Clusters'])

In [12]:
df_norm['h_clusterid'] = Clusters

In [13]:
df_norm.sort_values("h_clusterid")

         SAT     Top10    Accept   SFRatio  Expenses  GradRate  h_clusterid
0   0.743902  0.847222  0.105263  0.368421  0.255144  0.900000            0
22  0.536585  0.680556  0.394737  0.421053  0.084653  0.833333            0
21  0.682927  0.722222  0.289474  0.263158  0.343515  0.766667            0
20  0.426829  0.513889  0.710526  0.526316  0.123307  0.600000            0
19  0.695122  0.652778  0.473684  0.368421  0.540832  0.666667            0
18  0.573171  0.930556  0.342105  0.578947  0.117293  0.366667            0
16  0.865854  0.861111  0.078947  0.315789  0.505659  0.866667            0
15  0.000000  0.000000  1.000000  0.684211  0.006597  0.066667            0
14  0.902439  0.875000  0.000000  0.105263  0.392120  0.933333            0
13  0.185366  0.138889  0.526316  0.631579  0.026991  0.433333            0
23  0.195122  0.166667  0.723684  0.473684  0.057462  0.133333            0
12  0.609756  0.736111  0.368421  0.368421  0.116965  0.900000            0
10  0.914634  0.916667  0.210526  0.210526  0.476864  0.800000            0
9   0.731707  0.652778  0.394737  0.052632  0.910991  0.666667            0
8   0.963415  0.875000  0.000000  0.263158  0.561699  1.000000            0
7   0.609756  0.638889  0.131579  0.315789  0.208161  0.833333            0
6   0.756098  0.861111  0.210526  0.315789  0.416996  0.933333            0
5   0.817073  0.847222  0.118421  0.210526  0.427512  0.933333            0
4   0.670732  0.763889  0.250000  0.368421  0.239835  0.766667            0
3   0.743902  0.666667  0.131579  0.315789  0.415629  0.700000            0
11  0.621951  0.791667  0.328947  0.263158  0.352609  0.733333            0
24  0.902439  0.930556  0.065789  0.263158  0.634397  0.966667            0
2   0.621951  0.472222  0.592105  0.157895  0.297461  0.166667            1
17  0.170732  0.291667  0.697368  1.000000  0.000000  0.000000            2
1   1.000000  1.000000  0.144737  0.000000  1.000000  0.466667            3

In [23]:
# Use Groupby and use median attribute
df_norm.groupby('h_clusterid').mean()

                  SAT     Top10    Accept   SFRatio  Expenses  GradRate
h_clusterid
0            0.643126  0.684975  0.311603  0.349282  0.327965  0.718182
1            0.621951  0.472222  0.592105  0.157895  0.297461  0.166667
2            0.170732  0.291667  0.697368  1.000000  0.000000  0.000000
3            1.000000  1.000000  0.144737  0.000000  1.000000  0.466667

In [26]:
Univ.loc[17]

Univ        TexasA&M
SAT             1075
Top10             49
Accept            67
SFRatio           25
Expenses        8704
GradRate          67
Name: 17, dtype: object